/* CardioVitaMedicion.css */

.heart-card {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #26425A;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .heart-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #E1CBD7;
  }
  
  .heart-button {
    background-color: #C3EBB4;
    color: #26425A;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .heart-button:hover {
    background-color: #E1CBD7;
  }
  
  .heart-status {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
  }
  
  .heart-bpm {
    font-size: 3rem;
    font-weight: bold;
    color: #C3EBB4;
    text-align: center;
    margin-top: 1rem;
  }
  
  .heart-chart {
    margin-top: 2rem;
    border-top: 1px solid #C3EBB4;
    padding-top: 1rem;
  }
  .torch-switch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .switch-label {
    font-weight: bold;
    color: #C3EBB4;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #66A8CF;
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  