/* Estilo general para la vista */
.presion-container {
    font-family: 'Segoe UI', sans-serif;
  }
  
  /* Estilo para el header */
  .presion-container h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  /* Tarjetas */
  .card {
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-3px);
  }
  
  /* Etiquetas y badges */
  .badge {
    font-size: 0.85rem;
    padding: 6px 10px;
    border-radius: 10px;
  }
  
  /* Modal */
  .modal-content {
    border-radius: 20px;
    padding: 10px;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  /* Botones */
  button.btn-primary {
    font-weight: 500;
    border-radius: 12px;
    padding: 10px 20px;
  }

  .text-edit{
  color: #26425A
  }